.lembaga-vokasi {
  &__heroes {
    display: flex;
    background-color: var(--color-yellow-2);
    padding: 0 5rem;
    margin-top: 5rem;

    @media only screen and (max-width: 900px) {
      margin-top: 0;
    }

    @media only screen and (max-width: 700px) {
      flex-direction: column;
      padding: 2rem;
    }
  }

  &__illustration,
  &__cta {
    width: 50%;

    @media only screen and (max-width: 700px) {
      width: 100%;
    }
  }

  &__illustration {
    svg {
      width: 100%;
      height: auto;
    }

    @media only screen and (max-width: 700px) {
      order: 2;
      max-width: 32rem;
      margin: 0 auto;
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media only screen and (max-width: 700px) {
      order: 1;
    }

    h1 {
      font-size: 6rem;
      line-height: 1.2;

      @media only screen and (max-width: 900px) {
        font-size: 4.8rem;
      }

      @media only screen and (max-width: 700px) {
        font-size: 3.6rem;
        text-align: center;
        width: 100%;
        margin-top: 5rem;
      }
    }
  }

  .lihat-selengkapnya {
    padding: 2rem;
    text-align: center;
    background-color: var(--color-green-1);

    & > span {
      font-weight: bold;
      color: white;
      font-size: 2rem;
      display: block;
      padding: 1rem 2rem;
      border: 3px solid white;
      border-radius: 20rem;
      cursor: pointer;
      width: 26rem;
      margin: 0 auto;

      @media (hover: hover) {
        &:hover {
          background-color: #fff;
          color: var(--color-green-1);
        }
      }

      &:active {
        background-color: #fff;
        color: var(--color-green-1);
      }
    }
  }
}

.lembaga-lembaga {
  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    padding: 3rem 0;
    opacity: 0;
    transition: all 0.8s ease-out 1s;
    transform: translateX(-10rem);

    &.show {
      opacity: 1;
      transform: translateX(0);
    }
  }

  height: 40rem;
  overflow: hidden;
  padding: 0rem 5rem;
  transition: all 1s linear;

  @media only screen and (max-width: 629px) {
    height: 123rem;
  }

  @media only screen and (max-width: 909px) and (min-width: 630px) {
    height: 63rem;
  }

  &.collapse {
    padding: 0rem 5rem;
    height: 0rem;
  }
}
