.prodi-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 5rem;
  background-color: var(--color-light-grey-1);
  border-radius: 1rem;
  transition: transform 0.3s;
  transform: scale(0.8);
  height: 20rem;
  width: 30rem;

  &.active {
    transform: scale(1);
  }

  &__img {
    width: 7rem;
    height: auto;
    justify-content: center;
    align-items: flex-end;
  }
}
