.a {
  height: 30rem;
  width: 39rem;
}
.prodi-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--color-light-grey-1);

  border-radius: 1rem;
  transition: transform 0.3s;
  transform: scale(0.8);
  height: 30rem;
  width: 39rem;

  &.active {
    transform: scale(1);
  }

  &__title {
    width: 50%;
    height: auto;
    display: flex;
    align-self: flex-start;
  }

  &__logo {
    width: 50%;
    height: auto;
    display: flex;
    align-self: flex-end;
  }
}

.prodi-card:hover {
  background-image: linear-gradient(
    var(--color-light-grey-1),
    var(--color-dark-grey-1)
  );
}
