.btn {
  padding: 1rem 3rem;
  border: none;
  background-color: var(--color-yellow-1);
  color: var(--color-navy-1);
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;

  &:focus {
    outline: none;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-yellow-2);
    }
  }
}
