
/* Float four columns side by side */
.card-column {
    float: left;
    width: 25%;
    padding: 0 10px;
    display: table;
  }

  .triumph-of-spartan {
    padding-top: 60px;
    padding-bottom: 500px;
  }
  
  .triumph-of-spartan-h3{
    
    color: #464646;
    font-weight: 500;
    size: 62.5%;
    text-align: justify;
    letter-spacing: 1%;
    padding-top: 80px;
    padding-bottom: 50px;
    }

  .card-desc {
    color: white;
    font-weight: 400;
    text-align: center;
    text-indent: 0px;
  }
  
  h2{
    color: white;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: flex;
    clear: both;
  }
  
  /* Style the counter cards */
  .card-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color:#464646;
    border-radius: 10%;
    position: inherit;
    justify-content: center;
    object-fit: contain;

    
     
    
  }
  .card-img-fluid {
    height: 200px;
    width: 200px;
    object-fit: contain;
    border-radius: 50%;
  }
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .card-column {
      width: 100%;
      display: flex;
      margin-bottom: 20px;
    }
    
  }

  

