@keyframes colorChange {
  0% {
    background-color: var(--color-light-grey-1);
  }

  50% {
    background-color: var(--color-light-grey-3);
  }

  100% {
    background-color: var(--color-light-grey-1);
  }
}

@keyframes hamburger {
  0% {
    background-color: rgba(black, 0.1);
  }

  50% {
    background-color: rgba(black, 0.05);
  }

  100% {
    background-color: rgba(black, 0.1);
  }
}
