.documentation-h1 {
    text-align: center;
    color: #464646;
}

.documentation-img {
    height: 580px;
    width: 580px;
    object-fit: contain;
    border-radius: 2%;
    
    
}




