.documentation-h1 {
    text-align: center;
    color: #464646;
    
}

.documentation-column {
    float: left;
    width: 25%;
    padding-top: 10px;
  padding-right: 80px;
  padding-bottom: 20px;
  padding-left: 95px;
    display: table; 
    
}

.documentation-img-fluid {
    height: 450px;
    width: 450px;
    object-fit: contain;
    border-radius: 0%;
}




