.ruang-prestasi-page {
  min-width: 100%;
}

.ruang-prestasi {
  background-color: var(--color-green-1);
  padding: 0 3rem;
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 900px) {
    margin-top: 0;
    flex-direction: column;
    text-align: center;
  }

  &__picture,
  &__main {
    width: 50%;

    @media only screen and (max-width: 900px) {
      width: 100%;
    }
    h1 {
      font-size: 4rem;
      line-height: 1.2;

      @media only screen and (max-width: 900px) {
        padding-top: 4rem;
      }
    }
    span {
      font-size: 7rem;
    }

    svg {
      width: 100%;
      height: auto;
      align-items: flex-end;

      @media only screen and (max-width: 900px) {
        min-width: 40rem;
      }

      @media only screen and (max-width: 500px) {
        min-width: 26rem;
      }
    }
  }
}

.prestasi-table {
  background-color: var(--color-green-1);

  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: auto;
}

.prestasi {
  background-color: var(--color-green-1);
  max-height: 100rem;
  overflow-x: auto;

  &__judul,
  &__list {
    width: 50%;
  }

  @media only screen and (max-width: 600px) {
    padding: 2rem;
  }

  &__container {
    width: 100%;
    padding: 3rem 5rem;
  }

  &.collapse {
    max-height: 0rem;
  }
}

.lihat-selengkapnya {
  padding: 3rem 5rem;
  text-align: center;
  background-color: var(--color-yellow-2);

  & span {
    font-weight: bold;
    color: var(--color-green-1);
    font-size: 2rem;
    display: inline-block;
    padding: 1rem 2rem;
    border: 3px solid var(--color-green-1);
    border-radius: 20rem;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-yellow-2);
        color: var(--color-green-1);
      }
    }
  }
}
