.ruang-prestasi {
  &__table {
    td {
      border: 1px solid var(--color-green-1);
      padding: 1rem;
      text-align: center;
      background-color: var(--color-green-1);
      color: white;
    }
  }
}

.ruang-prestasi-title {
  background-color: white;
  color: var(--color-green-1);
}
