.dokumentasi-component {
  transition: transform 0.3s;
  transform: scale(0.8);
  height: 40rem;
  width: 60rem;
  margin: 0;
  padding: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  object-position: 50% 50%;
  @media only screen and (max-width: 900px) {
    width: 90%;
  }

  @media only screen and (max-width: 360px) {
    width: 100%;
    padding: 0;
  }

  &__logo {
    width: 100%;

    height: auto;
    display: grid;
    @media only screen and (max-width: 900px) {
      width: 80%;
    }

    @media only screen and (max-width: 320px) {
      width: 50%;
    }
  }
}
