.up-page {
  padding: 0rem 5rem;
  display: flex;
  align-items: center;
  background-color: var(--color-green-1);

  @media only screen and (max-width: 600px) {
    display: grid;
  }

  &__heroes-text {
    padding-top: 18rem;
    background-color: var(--color-green-1);
  }
  &__buttons {
    width: 50%;

    .btn {
      background-color: var(--color-green-1);
      justify-content: space-evenly;
      border: 0.3rem solid white;
      color: white;
      border-radius: 114px;
      width: 35rem;

      @media (hover: hover) {
        &:hover {
          background-color: var(--color-yellow-1);
          color: var(--color-green-1);
        }
      }
    }

    span {
      color: var(--color-yellow-1);
    }
  }

  &__picture {
    width: 50%;

    svg {
      width: 100%;
      height: auto;
    }
  }
}

.tambahan {
  height: 8rem;
  width: 100%;
  background-color: var(--color-yellow-2);
  align-items: flex-end;
  margin-top: -14rem;
}

.button-container {
  display: grid;
  align-items: center;
  align-content: space-around;
  justify-content: space-between;
  grid-template-columns: 1fr;
  grid-gap: 3rem 3rem;
  margin-left: 10rem;
}
@media only screen and (max-width: 600px) {
  .up-page {
    background-color: var(--color-green-1);
    padding: 0rem 5rem;
    display: flex;
    align-items: center;

    &__buttons {
      width: 50%;

      span {
        color: var(--color-yellow-1);
      }
    }

    &__picture {
      width: 50%;
      margin-top: 7rem;

      svg {
        width: 100%;
        height: auto;
      }
    }
  }

  .tambahan {
    height: 8rem;
    width: 100%;
    background-color: var(--color-yellow-2);
    align-items: flex-end;
    margin-top: -14rem;
  }

  .button-container {
    display: grid;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
    grid-template-columns: 1fr;
    grid-gap: 3rem 3rem;
    margin-left: 10rem;
  }
}

.data-button {
  background-color: var(--color-green-1);
  justify-content: space-evenly;
  border: 0.3rem solid white;
  color: white;
  border-radius: 114px;
  width: 35rem;

  /*@media only screen and (max-width: 600px) {
    width: 20rem;
  }*/

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-yellow-1);
      color: var(--color-green-1);
    }
  }
}
