.tos-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 5rem;
  background-color: var(--color-black-1);
  border-radius: 1rem;
  transition: transform 0.3s;
  transform: scale(0.8);
  height: 50rem;
  width: 30rem;

  &__logo {
    max-width: 100%;
    height: auto;
    display: flex;
    border-radius: 50%;
  }
}
