@font-face {
  font-family: 'Product Sans';
  src: url('../assets/fonts/Product\ Sans\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-weight: bold;
  src: url('../assets/fonts/Product\ Sans\ Regular.ttf') format('truetype');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: 'Muli', sans-serif;
}
