:root {
  --color-light-blue-1: #85c3c0;
  --color-light-blue-2: #2091b1;

  --color-light-grey-1: #eee;
  --color-light-grey-2: #ccc;
  --color-light-grey-3: #ddd;

  --color-dark-grey-1: #808080;
  --color-dark-grey-2: #606060;

  --color-navy-1: #395f7d;
  --color-navy-2: #024260;

  --color-black-1: #222;
  --color-black-2: #1a1a1a;

  --color-yellow-1: #faff70;
  --color-yellow-2: #d7d872;
  --color-yellow-3: #fbd46b;

  --color-green-1: #009975;
}
