:root {
  --color-light-blue-1: #85c3c0;

  --color-light-grey-1: #eee;

  --color-dark-grey-1: #808080;

  --color-navy-1: #395f7d;

  --color-white-1: #ffffff;

  --color-black-1: #222;
  --color-black-2: #1a1a1a;

  --color-yellow-1: #faff70;
  --color-yellow-2: #d7d872;

  --color-green-1: #009975;
}
