.header {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  background-color: var(--color-light-blue-1);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &--navy {
    background-color: var(--color-navy-1);
  }

  &--green {
    background-color: var(--color-green-1);
  }

  &--tos {
    background-color: var(--color-black-2);
  }

  &__item {
    cursor: pointer;
    text-decoration: none;

    &:link,
    &:visited {
      color: inherit;
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
