.heroes {
  background-color: var(--color-light-blue-1);
  padding: 0rem 5rem;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
    overflow: hidden;

    .btn {
      position: relative;
      z-index: 10;
    }

    .heroes {
      &__welcome,
      &__picture {
        width: 100%;
        text-align: center;
        overflow: hidden;
      }

      &__picture {
        margin-bottom: -17rem;
        margin-top: -9rem;
        z-index: 0;
        position: relative;
        min-width: 60rem;
      }
    }

    .heading-primary {
      margin-top: 8rem;
      font-size: 2.8rem;
      width: auto;

      span {
        display: inline-block;
        width: 100%;

        &:first-child {
          color: white;
        }
      }
    }
  }

  &__welcome {
    width: 50%;

    span {
      color: var(--color-yellow-1);
    }
  }

  &__picture {
    width: 50%;

    svg {
      width: 100%;
      height: auto;
    }
  }
}

.aspirasi {
  padding: 3rem 5rem;
  background-color: var(--color-light-grey-1);
  position: relative;
  z-index: 5;

  @media only screen and (max-width: 600px) {
    .heading-primary {
      text-align: left;
      font-size: 2.6rem;
    }
    .aspirasi {
      &__content {
        flex-direction: column;
      }

      &__description,
      &__picture {
        width: 100%;
      }

      &__description {
        order: 1;
        text-align: justify;
      }

      &__picture {
        order: 2;
      }
    }
  }

  &__content {
    display: flex;
    padding-bottom: 8rem;
  }

  &__picture {
    width: 50%;
    align-self: flex-end;
    margin-top: 5rem;

    svg {
      width: 90%;
      height: auto;
    }
  }

  &__description {
    width: 50%;
  }

  &__item {
    display: flex;
    align-items: center;

    span {
      font-size: 1.6rem;
      color: var(--color-dark-grey-1);
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
  }
}

.form-aspirasi {
  padding: 3rem 5rem;
  margin-top: -7rem;
  position: relative;
  z-index: 8;
  background-color: var(--color-navy-1);

  .kurung {
    margin: 0 auto;
    width: min-content;
    margin-top: 2rem;
  }

  &__container {
    margin: 0rem auto;
    display: grid;
    max-width: 55rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 20rem;
    grid-gap: 1rem;

    @media only screen and (max-width: 37.5em) {
      grid-template-rows: repeat(4, 1fr) 20rem;
      grid-template-columns: 1fr;
    }
  }

  &__form {
    &:last-child {
      grid-column: 1 / -1;
    }
  }
}
