.footer {
  display: flex;
  align-items: center;
  background-color: var(--color-black-1);
  padding: 2rem 5rem;

  &__left,
  &__right {
    width: 50%;
  }

  &__right {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .text {
      text-align: right;
      color: white;
    }
  }

  &__logo {
    height: 20rem;
    margin-top: -7rem;
  }

  &__description {
    color: white;
    font-size: 0.8rem;
    width: 50%;
    margin-top: -6rem;
  }

  &__socmed {
    margin-left: auto;
  }

  &__socmed-icon {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
