.lembaga-lembaga {
  &__card {
    width: 100%;
    height: min-content;
    background-color: var(--color-green-1);
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 10rem;
  }

  &__img-container {
    margin-right: 2rem;
    height: 10rem;
  }

  &__img {
    height: 10rem;
    width: 10rem;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
  }

  &__nama-lembaga {
    color: white;
    font-weight: bold;
    font-size: 2rem;
  }
}
