.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-color: var(--color-green-1);
  border-radius: 1rem;
  transition: transform 0.3s;
  transform: scale(0.8);
  height: 18rem;
  cursor: pointer;

  &.active {
    transform: scale(1);
  }

  &__img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }
}
