.lembaga-detail {
  &__heroes {
    background-color: var(--color-navy-1);
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
  }

  &__logo {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: 1rem solid var(--color-navy-1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }

  &__caption {
    text-align: center;
    font-family: 'Product Sans';
    font-weight: bold;
    color: white;
  }

  &__name {
    font-size: 7.2rem;
  }

  &__tagline {
    font-size: 5rem;
  }

  &__overview {
    padding: 5rem;
  }
}

.petinggi {
  margin-top: 5rem;
  width: min-content;

  &:not(:last-child) {
    margin-right: 6rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }

  &__identitas {
    text-align: center;
  }

  &__nama {
    color: var(--color-navy-1);
    font-size: 2rem;
  }

  &__jurusan {
    color: var(--color-dark-grey-1);
  }
}

.pengurus {
  padding: 5rem;
  background-color: var(--color-navy-1);
  color: white;

  &__ph {
    text-align: center;
    margin-bottom: 4rem;
  }

  &__jabatan {
    font-size: 1.8rem;
  }

  &__nama {
    color: var(--color-light-grey-2);
    font-size: 1.6rem;
  }

  &__departements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 4rem;
  }

  &__departement {
    width: max-content;
    margin: 0 auto;
  }
}
